@font-face {
  font-family: "PoluUstavRegular";
  src: url(../assets/fonts/PoluUstavRegular.eot);
  src: url(../assets/fonts/PoluUstavRegular.eot?#iefix) format("embedded-opentype"),
  url(../assets/fonts/PoluUstavRegular.woff) format("woff"),
  url(../assets/fonts/PoluUstavRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
