.spinner {
  width: 20px;
  height: 20px;

  background-color: #ccc;

  border-radius: 100%;

  animation: sk-scaleout 1.0s infinite ease-in-out;

  display: block;
}

@-webkit-keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
